In [ ]:
# Install a pip package in the current Jupyter kernel
import sys
!{sys.executable} -m pip install gmaps

In [51]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [52]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Tuatapere,NZ,2021-07-27 18:41:17,-46.1333,167.6833,48.81,89,12,3.06
1,1,Puerto Ayora,EC,2021-07-27 18:41:18,-0.7393,-90.3518,76.96,68,22,10.29
2,2,Norman Wells,CA,2021-07-27 18:41:18,65.2820,-126.8329,60.84,67,75,4.61
3,3,Ushuaia,AR,2021-07-27 18:41:19,-54.8000,-68.3000,37.06,87,90,4.61
4,4,East London,ZA,2021-07-27 18:41:19,-33.0153,27.9116,76.14,17,0,10.36

In [53]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [54]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [55]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [56]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [57]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [58]:
# Wind Speed Heatmap
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [61]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 90

In [62]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Corinto,GR,2021-07-27 18:38:20,37.9407,22.9573,89.71,36,0,2.77
7,7,Georgetown,MY,2021-07-27 18:36:23,5.4112,100.3354,83.89,86,20,3.00
10,10,Butaritari,KI,2021-07-27 18:41:21,3.0707,172.7902,81.66,71,100,7.76
14,14,Nasice,HR,2021-07-27 18:41:23,45.4886,18.0878,86.58,83,100,4.41
24,24,Albany,US,2021-07-27 18:41:28,42.6001,-73.9662,88.27,59,37,6.11
28,28,Alghero,IT,2021-07-27 18:41:30,40.5589,8.3181,82.49,69,0,8.05
38,38,Pasni,PK,2021-07-27 18:41:34,25.2631,63.4710,81.59,87,100,7.45
39,39,Anaconda,US,2021-07-27 18:41:35,46.1285,-112.9423,88.95,16,89,1.10
54,54,Adana,TR,2021-07-27 18:41:43,36.9850,35.2881,86.52,58,0,2.30
65,65,Kattivakkam,IN,2021-07-27 18:41:50,13.2167,80.3167,86.09,54,100,17.38

In [63]:
preferred_cities_df.notnull().sum()

City_ID       108
City          108
Country       108
Date          108
Lat           108
Lng           108
Max Temp      108
Humidity      108
Cloudiness    108
Wind Speed    108
dtype: int64

In [64]:
preferred_cities_df.count()

City_ID       108
City          108
Country       108
Date          108
Lat           108
Lng           108
Max Temp      108
Humidity      108
Cloudiness    108
Wind Speed    108
dtype: int64

In [65]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
5       Corinto      GR     89.71  37.9407   22.9573
7    Georgetown      MY     83.89   5.4112  100.3354
10   Butaritari      KI     81.66   3.0707  172.7902
14       Nasice      HR     86.58  45.4886   18.0878
24       Albany      US     88.27  42.6001  -73.9662
28      Alghero      IT     82.49  40.5589    8.3181
38        Pasni      PK     81.59  25.2631   63.4710
39     Anaconda      US     88.95  46.1285 -112.9423
54        Adana      TR     86.52  36.9850   35.2881
65  Kattivakkam      IN     86.09  13.2167   80.3167

In [66]:
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [48]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [50]:
hotel_df.head()

          City Country  Max Temp      Lat       Lng          Hotel Name
5      Corinto      GR     89.71  37.9407   22.9573        Ephira Hotel
7   Georgetown      MY     83.89   5.4112  100.3354      Cititel Penang
10  Butaritari      KI     81.66   3.0707  172.7902  Isles Sunset Lodge
14      Nasice      HR     86.58  45.4886   18.0878       Sobe Markovac
24      Albany      US     88.27  42.6001  -73.9662

In [71]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [1]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [70]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]